<div class="container">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Kuruluş Bilgileri" class="tab" style="user-select: none;">
      <app-company></app-company>
    </mat-tab>
    <mat-tab label="Departmanlar" class="tab">
      <app-departments></app-departments>
    </mat-tab>
    <mat-tab label="Ekipler" class="tab">
      <app-teams></app-teams>
    </mat-tab>
    <mat-tab label="Kullanıcılar" class="tab">
      <app-users></app-users>
    </mat-tab>
    <mat-tab label="Görevler" class="tab">
      <app-tasks></app-tasks>
    </mat-tab>
    <mat-tab label="Duyurular" class="tab">
      <app-announcements></app-announcements>
    </mat-tab>
  </mat-tab-group>
</div>