<div class="container">
  <mat-card>
    <mat-card-title align="center">Panel</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="25%">
        <mat-grid-tile colspan="1" style="background-color: white;">
          test  
        </mat-grid-tile>
        <mat-grid-tile colspan="1" style="background-color: white;">
          test
        </mat-grid-tile>
        <mat-grid-tile colspan="1" style="background-color: white;">
          test  
        </mat-grid-tile>
        <mat-grid-tile colspan="1" style="background-color: white;">
          test  
        </mat-grid-tile>
        
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>