<app-navbar></app-navbar>
<div class="wrapper">
    <div class="container">
        <router-outlet></router-outlet>

        <div *ngIf="sideNavActive" class="sidenav mat-elevation-z8" cdkDragBoundary=".wrapper" cdkDrag>
            <button mat-icon-button class="sidenav-close-button" matTooltip="Gizle" matTooltipPosition="above"
                (click)="toggleSideNav()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-nav-list>
                <button mat-icon-button class="sideNavItem" matTooltip="Panel" matTooltipPosition="left"
                    routerLink="/dashboard">
                    <mat-icon>
                        leaderboard
                    </mat-icon>
                </button>
                <button mat-icon-button class="sideNavItem" matTooltip="Görevlerim" matTooltipPosition="left"
                    routerLink="/tasks">
                    <mat-icon>
                        checklist
                    </mat-icon>
                </button>
                <button mat-icon-button class="sideNavItem" matTooltip="Yapılacaklar Listem" matTooltipPosition="left"
                    routerLink="/todos">
                    <mat-icon>
                        format_list_bulleted
                    </mat-icon>
                </button>
                <button mat-icon-button class="sideNavItem" matTooltip="Ekipler" matTooltipPosition="left"
                    routerLink="/teams">
                    <mat-icon>
                        group
                    </mat-icon>
                </button>
                <button mat-icon-button class="sideNavItem" matTooltip="Kuruluş Bilgileri" matTooltipPosition="left"
                    routerLink="/company">
                    <mat-icon>
                        business
                    </mat-icon>
                </button>
                <mat-divider *ngIf="showAdminNav"></mat-divider>
                <button mat-icon-button class="sideNavItem" matTooltip="Yönetici Paneli" matTooltipPosition="left"
                    routerLink="/admin/company" *ngIf="showAdminNav">
                    <mat-icon>
                        admin_panel_settings
                    </mat-icon>
                </button>
            </mat-nav-list>
        </div>

        <!-- Duyuru Paneli     -->
        <div *ngIf="announcementPanelActive" class="annPanel mat-elevation-z8" cdkDragBoundary=".wrapper" cdkDrag>
            <button mat-icon-button class="annPanel-close-button" matTooltip="Gizle" matTooltipPosition="above"
                (click)="toggleAnnouncementPanel()">
                <mat-icon>close</mat-icon>
            </button>
            <div class="annContainer">
                <h2>Duyurular</h2>
                <span *ngIf="!announcements[0]">Şu anda hiç duyuru yok</span>
                <div class="annList" *ngIf="announcements[0]">
                    <div class="annBox" *ngFor="let ann of announcements" [ngStyle]="{test:ann.ID==1}" (click)="test(ann.CONTENT)">
                        {{ann.TITLE}}
                        <div class="spacer"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>