<div class="container">
  <mat-card>
    <mat-card-title>Kuruluş Bilgileri</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-12 mt-3">
          <h2>{{companyInfo.TITLE}}</h2>
        </div>
      </div>
      <form class="p-3">
        <div class="row">
          <mat-form-field>
            <mat-label>Ticari Unvan</mat-label>
            <input type="text" matInput [(ngModel)]="companyInfo.COMMERCIAL_TITLE" [ngModelOptions]="{standalone:true}">
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-8">
            <h3>Adres Bilgileri</h3>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Ülke</mat-label>
                  <input type="text" matInput [(ngModel)]="companyInfo.COUNTRY" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Şehir</mat-label>
                  <input type="text" matInput [(ngModel)]="companyInfo.CITY" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>İlçe</mat-label>
                  <input type="text" matInput [(ngModel)]="companyInfo.DISTRICT" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              </div>
              <br>
              <mat-form-field>
                <mat-label>Posta Kodu</mat-label>
                <input type="text" matInput [(ngModel)]="companyInfo.POSTAL_CODE" [ngModelOptions]="{standalone:true}">
              </mat-form-field>
            </div>
            <div class="row pl-2">
              <div class="col-md-12">
                <mat-form-field [style.width.%]="100">
                  <mat-label>Açık Adres</mat-label>
                  <textarea name="" matInput id="" cols="30" rows="3" [(ngModel)]="companyInfo.OPEN_ADRESS" [ngModelOptions]="{standalone:true}"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <h3>İletişim Bilgileri</h3>
            <div class="row align-items-center">
              <div class="col align-self-center">
                <mat-form-field>
                  <mat-label>Telefon No</mat-label>
                  <input type="text" matInput [(ngModel)]="companyInfo.PHONE" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              </div>
            </div>
            <br>
            <div class="row align-items-center">
              <div class="col align-self-center">
                <mat-form-field>
                  <mat-label>E-Posta</mat-label>
                  <input type="text" matInput [(ngModel)]="companyInfo.MAIL" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>

      </form>
      <mat-card-actions class="mb-4">
        <button mat-stroked-button color="primary" (click)="update()">Güncelle</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>